.container{
    display: grid;
    place-content: center;
    height: 70vh;
}
.datosapi{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0.7rem;
    border: 1.5px solid #570909;
    border-radius: 3px;
    margin-bottom: 20px;
}
.databot{
    margin-bottom: 15px;
    font-family: "Poppins-regular";
}