.header{
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #787878;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 2rem;
    font-family: "Poppins-semi-bold";
    color: #010101;
}
h4{
    font-size: 1.2rem;
    font-family: "Poppins-regular";
    color: #6a0b0b;
    border: 1px solid #690f0f;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}