.footer{
    font-family: "Poppins-medium";
    background: rgba(44, 3, 3, 0.82);
    padding: 2rem;
}
.footer-info__container{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.divisory-line{
    width: 350px;
    height: 1.5px;
    background: #d6d6d6;
}
.footer-info__Text{
    font-size: 1.5rem;
    font-family: "Poppins-medium";
    color: #ffffff;
    padding: 1rem;
    margin: 0;
}
.footer-rights{
    font-size: 1rem;
    font-family: "Poppins-medium";
    color: #ffffff;
    padding: 1rem;
    margin: 0;
}